
<div class="card my-2">
  <div class="card-header"> <i class="fa fa-user" aria-hidden="true"></i> <span class=" text-success font-weight-bold fs-2">{{user.userName}}</span>  <span class=" text-info font-weight-bold float-end">{{ format_date date_created}}</span> </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
    <a href="/post/{{id}}" class="btn btn-primary">see this post</a>
  </div>
</div>