
<div class="card my-2">
  <div class="card-header"> <i class="fa fa-user" aria-hidden="true"></i> <span class=" text-success font-weight-bold  ">{{user.userName}}</span>  <span class=" text-info font-weight-bold float-end"> {{ format_date date_created}} <a href="/post/{{id}}"><i type="button"  class="float-end fas fa-edit text-danger px-3 fs-3"></i></a></span> </div>
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{content}}</p>
  </div>
</div>